::deep {
    --arrow-width: 8%;
    --content-width: calc(100vw - calc(var(--arrow-width)*2));
}

.carousel-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.horizontal-scroller-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 90%;
}

.horizontal-scroller {
    flex: 1;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth !important;
    /*This property restricts the position of the item on the scroll*/
    scroll-snap-type: x mandatory;
    overscroll-behavior-x:auto;
    scrollbar-width: none;
    width: var(--content-width);
}

.item {
    /*flex: 1;*/
    display: flex;
    min-width: 100%;
    width: var(--content-width);
    /*This property restricts the position of the item on the scroll*/
    scroll-snap-align: center;
}

.scroll-btn {
    height: 100%;
    cursor: pointer;
    background: transparent;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: var(--arrow-width);
}

    .scroll-btn:hover i {
        opacity: 0.5;
    }

.indicators-container {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 10%;
}

.content-indicator {
    height: 1rem;
    cursor: pointer;
    background-color: white;
    opacity: 0.5;
    border-radius: 25px;
    border-width: 0;
    width: 5%;
}

    .content-indicator.current {
        opacity: 1;
    }
