::deep {
    --arrow-width: 10%;
    --content-width: calc(100vw - calc(var(--arrow-width)*2));
}

.custom-container {
    flex:1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /*max-height:inherit;*/
}

.horizontal-scroller-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    /*min-height: 90%;*/
}

.horizontal-scroller {
    flex: 1;
    display: flex;
    overflow-x: hidden;
    overflow-y:auto;
    scroll-behavior: smooth !important;
    /*This property restricts the position of the item on the scroll*/
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    min-width: var(--content-width);
}

.item {
    min-width: 100%;
    /*This property restricts the position of the item on the scroll*/
    scroll-snap-align: center;
}

.scroll-btn {
    cursor: pointer;
    background: transparent;
    align-content: center;
    text-align: center;
    justify-content: center;
    min-width: var(--arrow-width);
}

    .scroll-btn:hover i {
        opacity: 0.5;
    }

.indicators-container {
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    min-height: 0.5rem;
}

.content-indicator {
    cursor: pointer;
    background-color: white;
    opacity: 0.5;
    border-radius: 25px;
    border-width: 0;
    width: 5%;
    height: 0.5rem;
}

    .content-indicator.current {
        opacity: 1;
    }
