<div class="custom-container">
    <div class="horizontal-scroller-container">
        <button class="scroll-btn prev-btn" @onclick="ScrollLeft">
            <i class="arrow left" />
        </button>
        <div class="horizontal-scroller" @ref=@scrollerReference>
            @if (Content != null)
            {
                <div class="item">
                    @Content
                </div>
            }
            else
            {
                @if (Items != null)
                {
                    @foreach (var item in Items)
                    {
                        <div class="item">
                            @item
                        </div>
                    }
                }
            }            
        </div>

        <button class="scroll-btn" @onclick="ScrollRight">
            <i class="arrow right" />
        </button>
    </div>
    <div class="indicators-container">
        @foreach (var item in Enumerable.Range(0, totalNumberOfItems))
        {
            <button class="content-indicator @(currentPosition==item?"current":"")" @onclick="()=>ScrollTo(item)" />
        }
    </div>
</div>